/* non-pacific style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* holds iteams in a dive or form next to each other */
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* centers items held within a div  */
.center-contents{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 /* fonts */
 @font-face {
    font-family: title;
    src: url(fnt/Magnolia\ Script.otf);
 }

 @font-face {
    font-family: smalltxt;
    src: url(fnt/GenR102.TTF);
 }

 /* body style */
body {
  background-color: #FAF9F6;
  /* stops the footer blocking some content on pages */
  margin-bottom: 100px;
}

/* colours 
3c1518
69140e
a44200
d58936
f2f3ae
1F1E1E
3E3C3C
878282
*/

 /* header style */

 header {
  overflow: hidden;
  background-color: #69140e;
  padding: 20px 10px;
}

.header a {
  float: left;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 20px; 
  line-height: 25px;
  border-radius: 4px;
  font-family: smalltxt;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
  font-family: title;
  font-size: 35px;
  color: #d58936;
}
.headerright p{
  color: #FAF9F6;
  transition: 0.3s;

}

.headerright p:hover {
  color: #dda15e;
  transition: 0.3s;
}
  

.headerright {
  float: right;
}
/* hanging header based on size of screen */

@media screen and (max-width: 850px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .headerright {
    float: none;
  }

  .headerright p{
    text-align: center;
  }
}
/* image on home page */


#defaultimg{
  width: 100%;
  max-height: 50vh;
  -webkit-mask-image: linear-gradient(black 75%, transparent);
  mask-image: linear-gradient(black 75%, transparent);

}

#homeimg {
  width: 100%;
  max-height: 50vh;
}

#imgoverlay{
  background-color: rgba(62, 60, 60, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#defaultimg {
  position: relative;
  text-align: center;
  color: wheat;
}

#imgtext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: title;
  font-size: 40px;
}
/* changing the image size base on screen size */

@media screen and (max-width: 850px) { 
  #defaultimg {
    max-height: 40vh;
  }

  #homeimg {
    max-height: 40vh !important;
  }
  #imgtext {
    font-size: 35px;
  }


}

/* footer styles*/

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 70px;
  background-color: #3E3C3C;
}


.footertext{
  color: #878282;
  font-family: smalltxt;
  text-align: center;
  padding-top: 8px;
}

/* about us content on home page */

#aboutinfo h1{
  font-family: title;
  color: #d58936;
  text-decoration: underline;
  font-size: 45px;
  text-align: center;

}

#aboutinfo {
  width: 60%;
}

#aboutinfo p {
  text-align: center;
  color: #3E3C3C;
  font-family: smalltxt;
}
/* changing the style of info text on website */

@media screen and (max-width: 850px) { 

  #aboutinfo h1{
    font-size: 35px;
  }
}

/* Google Maps styling*/

.map-responsive{
  overflow:hidden;
  position:relative;
  height:700px;
  
}
.map-responsive iframe{
  
  height:100%;
  width: 70%;
  position:absolute;
}
/* style fo all pages*/

/* Page titles*/
.title{
  font-family: title;
  font-size: 40px;
  color: #d58936;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

/*Small snippets of information */

.smalltxt{
  color: #878282;
  font-size: 20px;
  text-align: center;
  padding-bottom: 17px;

}

/* reisizing text basied on media */

@media screen and (max-width: 850px) {
  .title{
    font-size: 25px;
  }
  .smalltxt{
    font-size: 15px;
  }
}


/* scroll bars */


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* Rooms page & function room page */

/* images on page */


.img{
  height: 85%;
  width: 60%;
  border-radius: 25px;
}
.imgdiv{
  width: 65%;
  display: flex;
  margin-top: 30px;
}
.imgdiv p{
  width: 70%;
  padding-left: 2%;
  margin-top: 15px;
  padding-right: 2%;
}

.txtleft{
  text-align: left !important;
}

.txtright{
  text-align: right;
}
/* changes the order and size of images and text based on screen size */
@media screen and (max-width: 1300px) {
  #imgrightdiv{
    flex-direction: column-reverse !important;
 /* changes the order of image and text when screen sized */
  }
  .imgdiv {
    flex-direction: column;
    width: 100%;
    justify-content: center !important;
    align-items: center !important;
    
  }
  .txtleft {
    padding: 0 0;
  }
  .txtleft .txtright{
    text-align: center;
    
  }
}

/* Contact form styling*/

#contactdiv{
  line-height: 1.5;
  margin: auto;
  width: 40%;
}

#contactdiv form{
  background-color: #69140e;
  border-radius: 5px;
  padding: 20px;
  margin: auto;
}

/* styles of all inputs on page*/

#contactdiv input[type=text], select{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: smalltxt;
  font-size: 15px;
}

#contactdiv label{
  display: block;
}
/* all inputs have their own div tag to adjust the width of inputs */
.flexdiv{
  display: flex;
  width: 100%;
}
#namediv{
  margin-left: 5%;
  width: 65%;
}

#emaildiv{
  width: 65%;
}


#titlediv{
  width: 20%;
}
/* changing the styling of the forms text area */
#contactform textarea{
  resize: none;
  width: 90%;
  height: 100px;
  font-family: smalltxt;
  font-size: 15px;
}
/* styling for the area that counts the amount of charters */
#counter{
  float: right;
  margin-right: 25px;
  font-size: 20px;
  font-family: smalltxt;
  color: #FAF9F6;
}
/* styling for the submit button on from */
#formbutton{
  background-color: #d58936;
  border: none;
  width: 140px;
  height: 40px;
  font-family: smalltxt;
  font-size: 15px;
  color: #FAF9F6;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 2%;
}
/* hover styling for button  */
#formbutton:hover{
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
  font-size: 17px;
  transition: 0.3s;
}

/* validation */

.error{
  padding-bottom: 7px;
}

.error p{
  font-family: smalltxt;
  font-size: 18px;
  color: 	#bebbbb;
}

/* changes the siz of all inputs divs based on screen size */
@media screen and (max-width: 1500px){
  #contactdiv form{
    width: 100%;
  }
  #contactdiv{
    width: 70%;
  }
  #namediv{
    width: 70%;
  }
  #titlediv{
    width: 35%;
  }
  #emaildiv{
    width: 75%;
  }
  #contactform textarea{
    width: 80%;
    
  }
}

 /*Centering all the content on contact page */

.center{
  display: flex;
  justify-content:center;
  align-items: center;
  height: 65vh;
}
 
#contactform label{
  font-family: title;
  font-size: 20px;
  color: #d58936;
}

/* overlay settings */ 


/* used to style the overlay */
#overlay {
  position: fixed;
  display: none;
  height: 100%;
  width: 100%;
  background-color: #add8e6;
  opacity: 50%;
  cursor: pointer;
  pointer-events: none;
  z-index: 1;
}

/* styling for the buttons used to turn on and off the overlay */

.overlaybutton {
  background-color: #d58936;
  border: none;
  width: 140px;
  height: 40px;
  font-family: smalltxt;
  font-size: 15px;
  color: #FAF9F6;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 2%;
  margin-bottom: 13px;
  margin-right: 10px;
}

#colourchange{
  background-color: #3E3C3C;
  border: none;
  width: 90px;
  height: 40px;
  font-family: smalltxt;
  font-size: 15px;
  color: #FAF9F6;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 2%;
  margin-bottom: 13px;
}

/* styling of the div used to hold overlay buttons */

#overlaysettings{
  width: 35%;
  margin-left: 5px;
  display: flex;
}
/* hover styling for buttons */
.overlaybutton:hover {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
  font-size: 17px;
  transition: 0.3s;
}

/* chancing the style of buttons when screen is smaller */
@media screen and (max-width: 800px){
  #overlaysettings{
    width: 100%;
    margin-top: 10px;
    /* bellow will just center the buttonn in the middle of the footer 
    so usability is much better */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer{
    height: 90px;
  }
  .overlaybutton{
    margin-right: 7px;
  }
  #colourchange{
    margin-right: 7px;
  }

}


/* services page */
.servicediv{
  position: relative;
  text-align: center;
  width: 100%;
}

.servicetxt{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}


.serviceimg{
  width: 60%;
  border-radius: 25px;
}

.vh{
  height: 20vh;
}

.servicetxt p{
  font-family: smalltxt;
  color: #ccc;
  font-size: 20px;
  padding-top: 5px;
}


.servicetxt h1{
  font-family: title;
  color: #d58936;
}



.img-overlay {
  position: relative;
  display: inline-block;
}
@media (max-width: 800px){
  .serviceimg{
    width: 85%;
    height: 100%;
  }
  .servicetxt h1{
    font-size: 30px;
  }
  .servicetxt p{
    font-size: 14px;
  }
}

/* fade in for the services on services page */
.fade{
  opacity: 0;
  transition: 1.3s all ease;

}

.fade.appear{
  opacity: 1;

}

/* query sent page */

#querysent p{
  font-family: smalltxt;
  font-size: 20px;
  color: #555;
  text-align: center;
}

#querysent h1{
  font-family: title;
  font-size: 40px;
  color: #d58936;
  text-align: center;
}